
@model List<Model.EF.ProductCategory>

<div class="header-three">
    <!-- header-three -->
    <div class="container">
        <div class="menu">
            <div class="cd-dropdown-wrapper">
                <a class="cd-dropdown-trigger" href="#0">Store Categories</a>
                <nav class="cd-dropdown">
                    <a href="#0" class="cd-close">Close</a>
                    <ul class="cd-dropdown-content">
                        @foreach (var item in Model)
                        {
                            <li><a href="/category/@item.Name-@item.ID">@item.Name</a></li>
                        }
                        <li><a href="/news">News</a></li>
                    </ul> <!-- .cd-dropdown-content -->
                </nav> <!-- .cd-dropdown -->
            </div> <!-- .cd-dropdown-wrapper -->
        </div>
        <div class="move-text">
            <div class="marquee"><a><span> Try shipping pass free for 15 days with unlimited</span></a></div>
            <script type="text/javascript" src="/Assets/Client/js/jquery.marquee.min.js"></script>
            <script>
                $('.marquee').marquee({ pauseOnHover: true });
            </script>
        </div>
    </div>
</div>