
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Home
}
<p>
    Nghiêm Đức Hạnh
</p>
<p>
   Phan Minh Dương
</p>
<p>
    Nguyễn Hoàng Hiệp
</p>
<p>
    Nguyễn Mạnh Cường
</p>
