
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}



@{ Html.RenderAction("CategoryInHeader", "ChildAction"); }

<div class="container-fluid" style="padding-bottom: 50px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="news-detail-content">
            <br /><br /><br />
            <h2>Something Wrong!!!</h2>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>